---
---
@import "syntax_highlighting";

.page-title {
  margin-bottom: 10px;
}

.page-description {
  font-weight: 300;
  margin-bottom: 30px;
}

.sidebar-header {
  > .nav-link {
    &.disabled {
      &.active {
        font-weight: bold;
      }
    }
  }
}

.sidebar-link {
  > .nav-link {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    color: black;
    font-size: 80%;
    &.active {
      font-weight: bold;
    }
    & :hover {
      font-weight: bold;
    }
  }
}
