<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark">
  <a class="navbar-brand" href="{{ '/' | relative_url  }}">{{ site.title }}</a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row">
      {% for item in site.data.nav.pages %}
      <li class="nav-item {% if page.url == item.url or page.subpage == item.title %}active{% endif %} ">
        <a class="nav-link" href="{{ item.url | relative_url  }}"> {{ item.title }} </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</header>
