name: MTAP Continuous Integration

on:
  pull_request:
    branches: master
  schedule:
    - cron: 0 8 * * *
jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, macos-latest]
        java-version: ['11', 'x']
        python-version: ['3.7', 'x']
        exclude:
          - java-version: '11'
            python-version: 'x'
          - java-version: 'x'
            python-version: '3.7'
    steps:
      - uses: actions/checkout@v3

        # Setup
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Java Build and Tests
      - name: Build with Gradle
        working-directory: java
        run: ./gradlew clean build shadowJar

      # Python pip install
      - name: Install Python package with dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install .[tests]
      - name: Lint with flake8
        run: |
          pip install flake8
          # stop the build if there are Python syntax errors or undefined names
          flake8 python --count --select=E9,F63,F7,F82 --show-source --statistics \
                 --exclude python/mtap/api # Generated protos
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 python --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics \
                 --exclude python/mtap/api # Generated protos
      - name: Test with pytest
        run: |
          pip install pytest
          MTAP_JAR=$(echo java/build/libs/*-all.jar) pytest python/tests --integration 
