name: Java CI

on: 
  pull_request:
    branches: master
  schedule:
    - cron: 0 8 * * * 

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, macos-latest]
        java-version: ['11', 'x']

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK ${{ matrix.java-version }}
      uses: actions/setup-java@v1
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
    - name: Build with Gradle
      working-directory: java
      run: ./gradlew build
